body {
  text-align: center;
}

.box {
  width: 400px;
  margin: 40px;
  border: solid black 2px;
  padding: 0;
  background: #A8A8A8;
}

.task-list {
  box-shadow: inset 0 0 10px #777777;
}

.animate-hide.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

.priority {
  color: red;
}

.footer {
  padding-top: 10px; 
}

.submit {
  background: #66ccff;
}