<div class='box'>

  <nav>
    <h1>Archive Task</h1>
  </nav>

  <div>
    <div class="task-list">
      <table>
        <ul>
          <li ng-repeat='task in archive.taskList' ng-show="task.done || archive.expiredTask(task)">
            <span class="valueItems">{{task.name}}</span>
            <button ng-click="archive.taskList.$remove(task)" class='fa fa-trash'></button>
          </li>
        </ul>
      </table>
    </div>

    <div class='footer'>
      <button ui-sref="landing">All Tasks</button>
      </form>
    </div>
  </div>

</div>